<div ng-show="contactFormVisible" class="panel panel-default">
	<div class="panel-body">
		<form class="form-horizontal">
			<fieldset>
				<div class="col-md-2">
					<label for="name">Name:</label>
					<input type="text" class="form-control" id="name" ng-model="contact.name"/>
				</div>
				<div class="col-md-2">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" ng-model="contact.email"/>
				</div>
				<div class="col-md-2">
					<label for="phone">Phone:</label>
					<input type="tel" class="form-control" id="phone" ng-model="contact.phone"/>
				</div>
				<div class="col-md-2">
					<label for="username">Username:</label>
					<input type="text" class="form-control" id="username" ng-model="contact.username"/>
				</div>
				<div class="col-md-2">
					<label for="website">Website:</label>
					<input type="text" class="form-control" id="website" ng-model="contact.website" />
				</div>
				<div class="clearfix"></div>
				<br />
				<div id="actions" class="row">
					<div class="col-md-12">
						<button class="btn btn-primary" ng-click="save()">Save</button>
						<button class="btn btn-default">Cancel</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<button class="btn btn-success" ng-click="add()" id="btnAddContact">{{ btnAddContactText }}</button>
<div class="col-md-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center">Id</th>
				<th class="text-center">Name</th>
				<th class="text-center">Email</th>
				<th class="text-center">Phone</th>
				<th class="text-center">Username</th>
				<th class="text-center">Website</th>
				<th class="text-center"></th>
				<th class="text-center"></th>
			</tr>
		</thead>
		<tbody ng-repeat="c in contacts">
			<tr>
				<td>{{ c.id }}</td>
				<td>{{ c.name }}</td>
				<td>{{ c.email }}</td>
				<td>{{ c.phone }}</td>
				<td>{{ c.username }}</td>
				<td>{{ c.website }}</td>
				<td><button class="btn btn-success btn-xs" ng-click="showHideDetails(c.id)">Address</button></td>
				<td class="text-center">
					<div class="btn-group">
						<button class="btn btn-info btn-sm" ng-click="edit(c)">EDIT</button>
						<button class="btn btn-danger btn-sm" ng-click="delete(c)">DELETE</button>
					</div>
				</td>
			</tr>
			<tr class="sub" ng-show="{{'showDetails' + c.id }}" >
				<td></td>
				<td colspan="7">
					<table class="table table-striped">
						<thead>
							<th class="text-center">Street</th>
							<th class="text-center">Suite</th>
							<th class="text-center">City</th>
							<th class="text-center">Zipcode</th>
							<th class="text-center">Geo</th>
						</thead>
							<tr>
								<td>{{c.address.street}}</td>
								<td>{{c.address.suite}}</td>
								<td>{{c.address.city}}</td>
								<td>{{c.address.zipcode}}</td>
								<td>{{c.address.geo}}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>