<div class="panel panel-default">
	<div class="panel-heading">
		<label>Address</label><label></label>
	</div>
	<div class="panel-body">
		<div class="col-md-2">
			<label for="city">City:</label>
			<input type="text" class="form-control" id="city" ng-model="contact.address.city" />
		</div>
		<!--GEO-->
		<div class="col-md-2">
			<label for="street">Street:</label>
			<input type="text" class="form-control" id="street" ng-model="contact.address.street" />
		</div>
		<div class="col-md-2">
			<label for="suite">Suite:</label>
			<input type="text" class="form-control" id="suite" ng-model="contact.address.suite" />
		</div>
		<div class="col-md-2">
			<label for="zipcode">Zip Code:</label>
			<input type="text" class="form-control" id="zipcode" ng-model="contact.address.zipcode" />
		</div>
	</div>
</div>